<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="actions.cancel()"><span class="glyphicon glyphicon-remove"></span></button>
    <div><span style="font-size:1.3em;font-family:'微软雅黑';color:#666">密码修改</span></div>
</div>
<div class="modal-body">
    <form method="post" class="w5c-form form-horizontal" w5c-form-validate="" w5c-submit="actions.password()" role="form" novalidate name="form_user_password">
        <div class="form-group has-feedback">
            <label for="oldPassword" class="col-sm-2 control-label">旧密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="oldPassword" placeholder="旧密码" ng-model="password.oldPassword" name="oldPassword" required="required">
                <button-clear-input input="password.oldPassword"></button-clear-input>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="newPassword" class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="newPassword" placeholder="新密码" ng-model="password.newPassword" name="newPassword" required="required">
                <button-clear-input input="password.newPassword"></button-clear-input>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="repeatPwd" class="col-sm-2 control-label">重复密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="repeatPwd" placeholder="重复密码" ng-model="password.repeatPwd" name="repeatPwd" required="required">
                <button-clear-input input="password.repeatPwd"></button-clear-input>
            </div>
        </div>
        <div class="col-sm-4 col-xs-4">
            <button type="submit" class="btn btn-success form-control">确认</button>
        </div>
        <div class="col-sm-4 col-xs-4">
            <button class="btn btn-info form-control" type="reset">重置</button>
        </div>
        <div class="col-sm-4 col-xs-4">
            <button class="btn btn-warning form-control" type="button" ng-click="actions.cancel($event)">取消</button>
        </div>
        <label class="h4">{{error}}</label>
        <label class="h4">{{password.repeatPwd !== password.newPassword && '两次输入的新密码不同' || ''}}</label>
    </form>
</div>