<ion-view>

  <!-- <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button button-clear">
      <i class="icon ion-ios-arrow-back"></i>
    </ion-nav-back-button>
    <ion-nav-title>
      关于我们
    </ion-nav-title>
  </ion-nav-bar> -->

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
      关于我们
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content>
    <div class="row"><!-- text-center是ionic自带css属性 -->
      <div class="col-25 text-center padding-left">
        <img src="img/yiyangbaoLogo.png" class="logo padding-top">
        <p></p>
      </div>
      <div class="col-75 col-center text-center">
        <!-- <p>健康人生, 幸福一生!</p> -->
        <h3></h3>
        <p>大数据交互管理平台</p>
      </div>
    </div>
    <ion-list>
      <ion-item class="item-text-wrap text-indent">
        <div class="row">
          <div class="col text-center">
            <img ng-src="img/wearable.jpg" class="padding-top center-block img-responsive">
          </div>
          <div class="col text-center">
            <img ng-src="img/wearable2.jpg" class="padding-top center-block img-responsive">
          </div>
        </div>
        <div class="text-center">
          <img ng-src="img/aboutUs_01.jpg" class="padding-top center-block img-responsive">
        </div>
      </ion-item>
      <a class="item">
        网站：
        <span class="item-note">
          <i class="icon ion-ios-arrow-right"></i>
        </span>
      </a>
    </ion-list>
  </ion-content>
  
</ion-view>
