<style>
    a.hover { 
        margin:0 auto; 
        width:127px; 
        height:47px; 
        display:inline-block;
    }
    a.hover:link, a.hover:visited, a.hover:active {
        background:url('/res/img/cnnic1.jpg') center no-repeat;
    }
    a.hover:hover {
        background:url('/res/img/cnnic.png') center no-repeat;
    }
</style>
<div class="container-fluid" ng-controller="footer">
    <p style="text-align:center;font-size:0.8em;margin:3em 0 0 0">©2015 <a href="#/aboutus"></a>  版权所有 浙ICP备12003178号</p>
    <div class="row">
        <div class="col-sm-1 col-sm-offset-5" style="padding-right:3em">
            <a href="" class="hover"><!-- <img src="/res/img/cnnic1.jpg"> --></a>
        </div>
        <div class="col-sm-1" style="padding-left:3em">
            <!-- <script-embedded type="text/javascript">
                //alert('hahaha');
            </script-embedded> -->
        </div>
    </div>
</div>